*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    color: cyan;
    background: black;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 200px;
    cursor: pointer;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
}